/*
Colors:
	Body 		  : #444
	Headers 	: #0b0f28
	Primary 	: #00bfff
	Dark 		  : #000
	Grey 		  : #F9F9FA #DADADA

Fonts:

Table OF Contents
------------------------------------
GENERAL
LOGO
NAVIGATION
HOME
ABOUT
GALERY
SPEAKERS
EVENTS
SPONSORS
CONTACT
CTA
FOOTER
BLOG
RESPONSIVE
------------------------------------*/

/*=========================================================
	GENERAL
===========================================================*/

/*----------------------------*\
	typography
\*----------------------------*/

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px 0px 15px;
  color: #0b0f28;
  font-weight: 700;
}

h1 {
  font-size: 43px;
}

h2 {
  font-size: 31px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 16px;
}

.lead {
  font-size: 20px;
}

a {
  color: #0b0f28;
  -webkit-transition: 0.3s color;
  transition: 0.3s color;
}

a:hover, a:focus {
  text-decoration: none;
  outline: none;
  color: #00bfff;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none
}

.main-btn {
  display: inline-block;
  padding: 14px 50px;
  background: #00bfff;
  color: #FFF;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.main-btn:hover, .main-btn:focus {
  color: #FFF;
  opacity: 0.8;
}

.input {
  height: 40px;
  width: 100%;
  border: 2px solid #dadada;
  padding: 0px 15px;
  border-radius: 2px;
  -webkit-transition: 0.3s border;
  transition: 0.3s border;
}

textarea.input {
  height: 90px;
  padding: 15px;
}

.input:focus {
  border-color: #00bfff;
}

/*----------------------------*\
	Section
\*----------------------------*/

.section {
  position: relative;
  padding: 90px 0px;
}

.section-bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  z-index: -1;
}

.section-title {
  text-align: center;
  margin-bottom: 60px;
}

.section-title .title {
  position: relative;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 42px;
  overflow: hidden;
}

.section-title .title>span {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  display: inline-block;
  z-index: 10;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.section-title .title>span.appear {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}

/*=========================================================
	LOGO
===========================================================*/

.navbar-brand {
  padding: 0;
  margin: 15px 0px;
}

.navbar-brand .logo {
  display: inline-block;
}

.navbar-brand .logo>img {
  max-height: 50px;
}

@media only screen and (max-width: 767px) {
  .navbar-brand {
    margin: 15px 15px;
  }
}

#header.transparent-navbar:not(.fixed-navbar) .navbar-brand .logo .logo-img {
  display: none;
}

#header.fixed-navbar .navbar-brand .logo .logo-alt-img {
  display: none;
}

#header:not(.transparent-navbar) .navbar-brand .logo .logo-alt-img {
  display: none;
}

/*=========================================================
	NAVIGATION
===========================================================*/

#header {
  position: relative;
  background-color: #FFF;
  border-bottom: 1px solid #0000001a;
  z-index: 80;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

#header.transparent-navbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: transparent;
  border-bottom: 1px solid #DADADA30;
}

#header.fixed-navbar {
  position: fixed !important;
  left: 0;
  right: 0;
  top: 0;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 3px #0003;
  box-shadow: 0px 0px 3px #0003;
  border-bottom: none;
  -webkit-animation: slide-in 0.3s;
  animation: slide-in 0.3s;
}

@-webkit-keyframes slide-in {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes slide-in {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

.main-nav li a {
  position: relative;
  padding: 30px 15px;
  color: #0b0f28;
  text-transform: uppercase;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

#header.transparent-navbar .main-nav li a {
  color: #FFF;
}

#header.fixed-navbar .main-nav li a {
  color: #0b0f28;
}

.main-nav li.active a:after {
  content: "";
  height: 3px;
  position: absolute;
  bottom: -3px;
  width: 100%;
  left: 0;
  background: #00bfff;
}

.main-nav li a:hover, .main-nav li a:focus {
  background-color: transparent;
  color: #00bfff;
}

#header.transparent-navbar .main-nav li a:hover {
  color: #00bfff;
}

.navbar-toggle {
  display: none;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  margin: 15px;
  padding: 0;
  font-size: 32px;
  color: #0b0f28;
}

#header.transparent-navbar .navbar-toggle {
  color: #FFF;
}

#header.fixed-navbar .navbar-toggle {
  color: #0b0f28 !important;
}

/* Mobile nav */

@media only screen and (max-width: 767px) {
  .main-nav {
    margin: 0px -15px;
    max-height: 0;
    overflow-y: scroll;
    background-color: #FFF;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }
  .main-nav.open {
    max-height: 500px;
  }
  .main-nav li.active a:after {
    display: none;
  }
  #header.transparent-navbar .main-nav li a {
    color: #0b0f28;
  }
  .main-nav li a:hover, .main-nav li a:focus, .main-nav li.active a {
    background-color: #00bfff;
    color: #fff !important;
  }
  .navbar-toggle {
    display: block;
  }
}

/*=========================================================
	HOME
===========================================================*/

#home {
  height: 100vh;
  position: relative;
}

#home .home-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.home-content h1 {
  text-transform: capitalize;
  font-weight: 900;
  color: #FFF;
}

.home-content h4 {
  color: #FFF;
}

#page-wrapper {
  background-color: #F9F9FA;
}

.page-wrapper-content {
  text-align: center;
}

/*=========================================================
	ABOUT
===========================================================*/

#numbers {
  margin-top: 60px;
}

.number {
  margin-bottom: 30px;
}

.number h3 {
  font-size: 42px;
  margin-bottom: 0px;
  color: #00bfff;
}

.number p {
  text-transform: uppercase;
  color: #0b0f28;
}

/*=========================================================
	GALERY
===========================================================*/

#galery-owl .owl-item .galery-item {
  opacity: 0.5;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transition: 0.6s opacity, 0.6s -webkit-transform;
  transition: 0.6s opacity, 0.6s -webkit-transform;
  transition: 0.6s transform, 0.6s opacity;
  transition: 0.6s transform, 0.6s opacity, 0.6s -webkit-transform;
}

#galery-owl.owl-theme .owl-item.active+.owl-item .galery-item {
  -webkit-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

#galery-owl.owl-theme .owl-item.active .galery-item {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#galery-owl.owl-theme .owl-nav {
  margin-top: 0px;
}

#galery-owl.owl-theme .owl-nav [class*='owl-'] {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: transparent;
  color: #00bfff;
  width: 90px;
  height: 90px;
  line-height: 90px;
  font-size: 40px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}

#galery-owl.owl-theme .owl-prev {
  left: 15px;
}

#galery-owl.owl-theme .owl-next {
  right: 15px;
}

/*=========================================================
	PROJECT MODALS
===========================================================*/

.modal-header { 
  padding: 15px;
  border-bottom: 1px solid #000;
  text-align: center;
}

.modal-footer {
  padding: 15px;
  text-align: center;
  border-top: 1px solid #000;
}

.btn-new {
  background-color: #FFF;
  color: #000;
  box-shadow: 0 2px 5px 0 #444,0 2px 10px 0 #444; 
  padding: 7px 25px 7px 25px;
}

/*=========================================================
	SPEAKERS
===========================================================*/

#speakers {
  background-color: #F9F9FA;
}

.speaker {
  position: relative;
  cursor: pointer;
  margin-bottom: 30px;
}

.speaker:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.speaker:hover:after {
  opacity: 0.8;
}

.speaker .speaker-img>img {
  width: 100%
}

.speaker .speaker-body {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
}

.speaker .speaker-content {
  position: relative;
  padding: 30px;
  background: #00bfff;
  text-align: right;
  z-index: 20;
}

.speaker .speaker-content>h2 {
  color: #FFF;
}

.speaker .speaker-content>span {
  color: #fff;
}

.speaker .speaker-social {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  z-index: 5;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.speaker .speaker-social>a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #FFF;
  background: #00bfff;
  z-index: 15;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
}

.speaker .speaker-social a+a {
  margin-left: -4px;
  border-left: 1px solid #f8f8ff33;
}

.speaker .speaker-social a:hover {
  opacity: 0.8;
}

.speaker:hover .speaker-social {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

/*----------------------------*\
	Speaker Modal
\*----------------------------*/

.speaker-modal .modal-dialog {
  width: 100%;
  max-width: 970px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.speaker-modal .modal-content {
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.speaker-modal .speaker-modal-close {
  position: absolute;
  right: -15px;
  top: -15px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #00bfff !important;
  border-radius: 50%;
  padding: 0;
  color: #FFF;
  border: none;
  font-size: 24px;
  z-index: 50;
}

.speaker-modal .speaker-modal-close:after {
  content: "\f00d";
  font-family: FontAwesome;
}

.speaker-modal .modal-body {
  padding: 30px;
}

.speaker-modal .speaker-modal-img>img {
  width: 100%;
}

.speaker-modal .speaker-modal-content .speaker-name {
  display: inline-block;
  margin-right: 15px;
}

.speaker-modal .speaker-modal-content .speaker-job {
  color: #00bfff;
}

.speaker-modal .speaker-modal-content .speaker-social {
  margin-top: 30px;
  margin-bottom: 30px;
}

.speaker-modal .speaker-modal-content .speaker-social>a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  border-radius: 50%;
  background: #00bfff;
  color: #fff;
  margin-right: 5px;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
}

.speaker-modal .speaker-modal-content .speaker-social>a:hover {
  opacity: 0.8;
}

.speaker-modal .speaker-modal-content .speaker-website {
  margin-top: 30px;
}

.speaker-modal .speaker-modal-content .speaker-events .speaker-event+.speaker-event {
  margin-top: 30px;
}

.speaker-modal .speaker-modal-content .speaker-events .speaker-event>span {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
}

.speaker-modal .speaker-modal-content .speaker-events .speaker-event>span strong {
  color: #00bfff;
}

#speakers .row {
  display: flex;
  flex-wrap: wrap;
}
#speakers .col-md-4 {
  display: flex;
  flex-direction: column;
}
#speakers .speaker-body {
  position: relative;
  bottom: 0;
}

/*=========================================================
	FAQ's
===========================================================*/

@import url(https://fonts.googleapis.com/css?family=Raleway);

.faq-header{
  font-size: 42px;
  border-bottom: 1px dotted #ccc;
  padding: 24px;
}

.faq-content {
  margin: 0 auto;
}

.faq-question {
  padding: 20px 0;
  border-bottom: 1px dotted #ccc;
}

.panel-title {
  font-size: 24px;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 10px 10px 0 48px;
  display: block;
  cursor: pointer;
}

.panel-content {
  font-size: 20px;
  padding: 0px 14px;
  margin: 0 40px;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

.panel:checked ~ .panel-content{
  height: auto;
  opacity: 1;
  padding: 14px;
}

.plus {
  position: absolute;
  margin-left: 20px;
  margin-top: 4px;
  z-index: 5;
  font-size: 42px;
  line-height: 100%;
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.panel:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.panel {
  display: none;
}

/*=========================================================
	EVENTS
===========================================================*/

.event {
  position: relative;
}

.event+.event {
  margin-top: 60px;
}

.event:after {
  content: "";
  position: absolute;
  left: 60px;
  top: 0px;
  bottom: 0px;
  width: 4px;
  background-color: #00bfff;
}

.event:last-child:after {
  height: 60px;
}

.event+.event:before {
  content: "";
  position: absolute;
  left: 60px;
  height: 60px;
  top: -60px;
  width: 4px;
  background-color: #00bfff;
}

.event .event-day {
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #00bfff;
  z-index: 10;
}

.event .event-hour {
  position: absolute;
  left: 62px;
  top: 60px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #00bfff;
  z-index: 10;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.event .event-day>div {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.event .event-day .day {
  display: block;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
}

.event .event-day .year {
  color: #FFF;
  text-transform: uppercase;
  font-size: 12px;
}

.event .event-content {
  padding-left: 160px;
  padding-top: 18.5px;
  min-height: 120px;
}

.event .event-time {
  font-size: 14px;
}

.event .event-time i {
  color: #00bfff;
}

.event .event-content a {
  color: #00bfff;
}

.download-btn {
  margin-top: 60px;
  text-align: center;
}

/*=========================================================
	SPONSORS
===========================================================*/

.sponsor img {
  width: 75%;
  margin: auto;  
}

.sponsor {
  display: block;
  opacity: 1;
  margin-bottom: 30px;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
}

.sponsor:hover {
  opacity: 1;
}

/*=========================================================
	CONTACT
===========================================================*/

#contact.section {
  padding-bottom: 0px;
}

.contact {
  text-align: center;
  margin-bottom: 30px;
}

.contact h3 {
  color: #00bfff;
}

#map {
  height: 380px;
  margin-top: 60px;
}

/*=========================================================
	CTA
===========================================================*/

.cta-content h2 {
  font-size: 42px;
  color: #FFF;
  text-transform: capitalize;
}

.cta-content p {
  color: #fff;
}

.cta-content .video-play {
  display: inline-block;
  height: 120px;
  width: 120px;
  margin: 0px auto 60px;
  background: #FFF;
  border-radius: 50%;
  text-align: center;
  line-height: 120px;
  font-size: 42px;
  color: #00bfff;
  cursor: pointer;
}

/*=========================================================
	CARD FOR PROJECTS
===========================================================*/

.card {
  display: block; 
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 #999,0 2px 10px 0 #999; 
  height: 330px;
  transition: box-shadow .25s; 
}
.card:hover {
  box-shadow: 0 8px 17px 0 #999,0 6px 20px 0 #999;
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
  overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 

.card-content {
  padding: 0%;
  height: 285px;
  text-align:left;
}

.card-title {
  height: 115px;
  /* border-bottom: 1px solid #000; */
  background-color: #00bfff;
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
  padding: 15px;
}

.card-title a {
  /* color: #000; */
  color: #FFF;
  text-decoration: none !important;
  padding-bottom: 15px;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
  /* padding: 10px; */
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}

.card-body {
  padding: 15px;
}

/*=========================================================
	FOOTER
===========================================================*/

#footer {
  background: #00bfff;
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px;
}

#footer .footer-top {
  background: #00bfff;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#footer .footer-top .footer-info p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #ecf5ff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fff;
  color: #000;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 30%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  color: #fff;
}

#footer .footer-top .social-links .facebook:hover {
  background: #00bfff;
}

#footer .footer-top .social-links .twitter:hover {
  background: #00bfff;
}

#footer .footer-top .social-links .instagram:hover {
  background: #00bfff;
}

#footer .footer-top .social-links .linkedin:hover {
  background: #00bfff;
}

#footer .footer-top .social-links .google:hover {
  background: #00bfff;
}
#footer .footer-top .social-links .youtube:hover {
  background: #00bfff;
}
#footer .footer-top .social-links .twitch:hover {
  background: #00bfff;
}
#footer .footer-top .social-links .github:hover {
  background: #00bfff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #ecf5ff;
}

#footer .footer-top .footer-links ul a:hover {
  color: #00bfff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #00bfff;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #00bfff;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #f1f7ff;
}

#footer .credits a {
  color: #bfddfe;
}

#footer .credits a:hover {
  color: #f1f7ff;
}
/*=========================================================
	BLOG
===========================================================*/

.blog {
  position: relative;
}

.blog+.blog {
  margin-top: 60px;
}

.blog:last-child {
  margin-bottom: 60px;
}

.blog .blog-img {
  margin-bottom: 30px;
}

.blog .blog-img>img {
  width: 100%;
}

.blog .blog-meta {
  margin-bottom: 30px;
  font-size: 12px;
  text-transform: uppercase;
}

.blog .blog-meta .blog-day {
  display: inline-block;
  margin-right: 15px;
}

.blog .blog-meta .blog-tags {
  display: inline-block;
  text-transform: uppercase;
}

.blog .blog-meta .blog-tags li {
  display: inline-block;
  margin-right: 5px;
}

.blog .blog-meta .blog-tags li:first-child {
  font-weight: 700;
  color: #0b0f28;
}

.blog .blog-content .read-more {
  display: inline-block;
  padding: 7px 14px;
  background: #00bfff;
  color: #FFF;
  text-transform: uppercase;
  border-radius: 2px;
  margin-top: 15px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.blog .blog-content .read-more:hover, .blog .blog-content .read-more:focus {
  opacity: 0.8;
  color: #fff;
}

.blog .blog-share {
  margin: 30px 0px 60px;
}

.blog .blog-share li {
  display: inline-block;
  margin-right: 5px;
}

.blog .blog-share li:first-child {
  line-height: 30px;
  font-weight: 700;
  color: #0b0f28;
}

.blog .blog-share li a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #00bfff;
  color: #FFF;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
}

.blog-share li a:hover {
  opacity: 0.8;
}

.blog .blog-comments .media {
  margin-top: 30px;
}

.blog .blog-comments .media .media-left {
  padding-right: 30px;
}

.blog .blog-comments .media .media-left .media-object {
  width: 90px;
  border-radius: 50%;
}

.blog .blog-comments .media .media-heading {
  margin-bottom: 30px;
}

.blog .blog-comments .media .media-heading h4 {
  margin-bottom: 10px;
}

.blog .blog-comments .media .media-heading .date {
  font-size: 12px;
}

.blog .blog-comments .media .media-heading .reply-btn {
  margin-left: 10px;
  color: #00bfff;
}

.blog .blog-reply {
  margin-top: 60px;
}

.blog .blog-reply form {
  margin-top: 30px;
}

.blog .blog-reply form .form-group {
  margin-bottom: 30px;
}

/*=========================================================
	RESPONSIVE
===========================================================*/

@media only screen and (max-width: 991px) {
  .contact-social {
    text-align: center;
    margin: 30px 0px;
  }
  .copyright {
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .home-content h1 {
    font-size: 31px;
  }
  .page-wrapper-content h1 {
    font-size: 31px;
  }
  .event .event-day {
    width: 90px;
    height: 90px;
  }
  .event .event-content {
    padding-left: 115px;
  }
  .event .event-day .day {
    font-size: 31px;
    line-height: 31px;
  }
  .event .event-hour {
    left: 47px;
  }
  .event:after {
    left: 45px;
  }
  .event+.event:before {
    left: 45px;
  }
}

@media only screen and (max-width: 480px) {
  [class*='col-xs'] {
    width: 100%;
  }
}
